{% if page.thumbnail %}
	<div class="panel panel-default">
		<div class="panel-body">
			<img class="sidebar-thumbnail" src="{{ page.thumbnail }}" />
		</div>
	</div>
{% endif %}

<div class="panel panel-default">
	<div class="panel-body">
		<br/>
		
		Follow my latest project on Twitter: <a href="http://www.twitter.com/reflowster">@Reflowster</a> or visit us online at <a href="http://www.reflowster.com">www.reflowster.com</a>.
		<br/>
		<br/>
		
		<a class="sidebar-link" href="mailto:julianh2o@gmail.com">
			<img src="/resources/email.png" />
		</a>
		
		<a class="sidebar-link" href="https://www.facebook.com/julian.hartline">
			<img src="http://static.viewbook.com/images/social_icons/facebook_32.png" />
		</a>
		
		<a class="sidebar-link" href="http://www.linkedin.com/in/julianhartline/">
			<img src="http://static.viewbook.com/images/social_icons/linkedin_32.png" />
		</a>
		
		<a class="sidebar-link" href="https://plus.google.com/105608876222794371768/about">
			<img src="http://static.viewbook.com/images/social_icons/google_32.png" />
		</a>
		
		<iframe class="githubframe" src="http://ghbtns.com/github-btn.html?user=julianh2o&type=follow" allowtransparency="true" frameborder="0" scrolling="0" width="132" height="20"></iframe>
	</div>
</div>
